* {
  font-family: monospace;
  font-size: 14px;
  font-weight: 400;
  color: white;
  text-shadow: 0 0 2px black;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  width: 100%;
  flex: 1;
}

body {
  box-shadow: 0 0 150px 10px inset #051525;
  background: #204060;
  min-height: 100%;
  margin: 0;
  font-size: 16px;
  line-height: 1.35em;
  display: flex;
  justify-content: center;
  color: white;
  text-shadow: 0 0 3px black;
}

h3 {
  color: white;
  margin: 0 auto 10px auto;
  text-shadow: 0 0 2.5 black;
}

counter_demo, input_text {
  display: flex;
  background: #14273a;
  outline: 1px solid #0b1723;
  user-select: none;
  height: fit-content;
  gap: .5em;
  flex-direction: column;
  width: calc( 50% - 3em );
  opacity: .6;
  padding: 0.25em;
  border: 1px solid #2196f3;
}

body > v_app {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 100%;
  outline: 1px solid black;
}

button {
  font-size: 1em;
  display: flex;
  background: #113d64;
  color: white;
  cursor: pointer;
  border: 3px solid #113d64;
  outline: 1px solid #0b1724;
  box-shadow: 0 5px 10px -5px #061420;
  align-items: center;
  justify-content: center;
  font-style: normal;
  height: auto;
  white-space: nowrap;
  align-items: center;
  justify-content: flex-start;
  gap: .5em;
}

button:hover {
  transform: scale(1.05);
  transition: 0.35s cubic-bezier(0.86, 0.09, 0, 0.8) all;
  border-color: #16406a;
  box-shadow: 0 10px 20px -10px #1563a1;
}

counter_demo info, input_text info {
  display: flex;
  user-select: text;
  flex-direction: row;
  align-items: stretch;
  gap: 1em;
  color: #0b1825;
  padding: .5em;
  background: #00000040;
  align-items: center;
}

counter_demo h3, counter_demo p , input_text h3, input_text p {
  margin: 0;
}

counter_demo actions , input_text actions {
  display: flex;
  gap: 1em;
  flex-direction: row;
  padding: 2.5em .5em .5em .5em;
  border: 1px dashed #008000;
}

main {
  display: flex;
  gap: 2.5em;
  padding: 0;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1;
  justify-content: flex-start;
  align-content: flex-start;
  max-width: 1280px;
  margin: 0 auto;
  background: #00000033;
  padding: 2em;
}

counter_demo info h3, input_text info h3 {
  overflow: hidden;
  color: #fff;
  text-shadow: 0 0 2px black;
  align-items: center;
  flex: 1;
  text-align: end;
  display: flex;
  flex-direction: row;
}

v_app > app_header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  background: #00000085;
  gap: 1em;
  z-index: 200;
  outline: 1px solid #005293;
  box-shadow: 0 5px 30px -15px black;
  align-self: center;
  width: 100%;
}

counter_demo .dataInfoPart , input_text info .dataInfoPart {
  box-shadow: 0 0 20px #0d3258 inset;
  background: #164a7a;
  border: 1px solid #05081c;
  padding: 0 1em 0 0;
  min-height: 2em;
  text-align: right;
  justify-content: flex-end;
}

counter_demo .dataInfoPart p , input_text .dataInfoPart p {
  flex: 1;
}

app_footer {
  width: auto;
  background: #0b1825;
  justify-content: center;
  align-items: center;
  padding: 0.25em 1em;
  border-top: 10px dashed #14273a;
  outline: 1px solid black;
  z-index: 200;
  box-shadow: 0 0 30px -15px black;
}

app_header h1 {
  font-size: 2em;
  font-weight: bold;
  font-family: monospace;
  padding: 1em;
  background: #154776;
  flex: 1;
  margin: 0;
}

input_text info h3.comp_id span, counter_demo info h3.comp_id span {
  color: #b3dbf2;
  font-size: 9px;
}

input {
  outline: none;
  margin: 0;
  text-shadow: none;
  font-family: monospace;
  font-size: 14px;
  user-select: none;
  color: #0a1622;
  font-style: normal;
  font-weight: 100;
  justify-content: center;
  align-items: center;
  line-height: 1em;
  white-space: nowrap;
  padding: .65em 1em;
}

.dataInfoPart button.reset {
  background: #ff00003b;
  border: none;
  box-shadow: none;
  margin: 0;
  padding: .5em;
  position: absolute;
  top: 0;
  left: 0;
}

button > i {
  user-select: none;
  font-style: normal;
  font-weight: 100;
  display: flex;
  background: #005293;
  padding: .65em 1em;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  line-height: 1em;
  font-size: 1em;
  text-shadow: 0 0 2px black;
  white-space: nowrap;
}

button > p {
  padding: 0.5em;
}

v_app > app_header > actions {
  flex-direction: row;
  justify-content: flex-end;
  height: fit-content;
  padding: .5em 2em;
}

v_app > app_header > actions > button {
  height: auto;
  box-shadow: 0 5px 10px -5px #204060;
  outline: 1px solid #2196f3;
}

v_app > app_header > info >h2 {
  margin: 0;
}

v_app > app_header > info p {
  margin: 0;
  text-shadow: none;
  color: #2196f3;
}

v_app > app_header > info {
  padding: .85em 2em;
  gap: 0;
}

v_app > app_header > info h2 {
  font-size: 2.25em;
  font-weight: 800;
  line-height: 1em;
  font-family: serif;
}

actions > button[action="reset"], button[action="reset"] {
  background: #ff000033;
  display: flex;
  border-color: #431f2e;
}

actions button[action="reset"] > i {
  background: #ff000030;
}

counter_demo:hover, input_text:hover {
  opacity: 1;
}

main info:before {
  content: "State Info";
  position: absolute;
  top: 0;
  left: 0;
  background: #0a1622;
  font-size: 8px;
  color: #ff9800;
  padding: 0.25em 1em;
}

main info {
  padding-top: 2em;
  position: relative;
  border: 1px dotted #ff9800;
}

main actions {
  position: relative;
}

main actions:before {
  content: "State Actions";
  position: absolute;
  top: 0px;
  left: 0;
  background: #0b1825;
  font-size: 8px;
  color: lime;
  padding: 0.25em 2em;
}

counter_demo info h3.comp_id, input_text info h3.comp_id {
  flex-direction: column;
  align-items: flex-start;
}

info_block {
  padding: 1em;
  position: relative;
  padding-bottom: 2em;
}

info_block > h2 {
  font-size: 2em;
  font-weight: 800;
}

info_block > p {
  position: absolute;
  bottom: 0;
  left: 1em;
}

app_navigation {
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: .5em;
}

app_navigation > button:hover {
  transform: none;
  background: #0d6fbd;
  border-color: #0d6fbd;
}

app_navigation > button {
  flex: 0;
}
