* {
  font-family: monospace;
  font-size: 14px;
  font-weight: 400;
  color: white;
  text-shadow: 0 0 2px black;
}

html {
  height: 100%;
  width: 100%;
  flex: 1;
}

body {
  box-shadow: 0 0 150px 10px inset #051525;
  background: #204060;
  min-height: 100%;
  margin: 0;
  font-size: 16px;
  line-height: 1.35em;
  display: flex;
  justify-content: center;
  color: white;
  text-shadow: 0 0 3px black;
}

h3 {
  color: white;
  margin: 0 auto 10px auto;
  text-shadow: 0 0 2.5 black;
}

base_elem {
  display: flex;
  background: #14273a;
  outline: 1px solid black;
  box-shadow: 0 10px 10px -10px #03a9f4;
  border-radius: 1em;
  user-select: none;
  gap: 1em;
  flex-direction: column;
  padding: 1em;
  height: fit-content;
  width: calc(50% - 3em);
}

body > v_app {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 100%;
  outline: 1px solid black;
}

button {
  font-size: 1em;
  background: #113d64;
  color: white;
  cursor: pointer;
  border: 2px solid #005293;
  box-shadow: 0 5px 10px -5px #061420;
  align-items: center;
  justify-content: center;
}

button:hover {
  transform: scale(1.05);
  transition: 0.35s cubic-bezier(0.86, 0.09, 0, 0.8) all;
  border-color: #102030;
  box-shadow: 0 10px 20px -10px #000102;
}

base_elem info {
  display: flex;
  user-select: text;
  flex-direction: row;
  align-items: stretch;
  gap: 1em;
  min-height: 2.5em;
}

base_elem h3, p {
  margin: 0;
}

base_elem actions {
  display: flex;
  gap: 1em;
  flex-direction: row;
}

main {
  display: flex;
  gap: 1em;
  padding: 2em;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1;
  justify-content: space-evenly;
  align-content: flex-start;
  max-width: 1600px;
  margin: 0 auto;
}

base_elem info h3 {
  overflow: hidden;
  color: #fff;
  text-shadow: 0 0 2px black;
  align-items: center;
  flex: 1;
  border-radius: 1em;
  text-align: end;
  line-height: 1em;
  white-space: nowrap;
  display: flex;
}

header {
  display: flex;
  width: auto;
  padding: 1em;
  margin: 0;
  background: #16426e;
  z-index: 200;
  box-shadow: 0 5px 30px -15px black;
}

base_elem info .dataInfoPart {
  box-shadow: 0 0 20px #0d3258 inset;
  align-items: center;
  justify-content: flex-end;
  display: flex;
  align-content: center;
  background: #164a7a;
  text-shadow: 0 0 2px black;
  border: 1px solid #05081c;
  padding: .5em;
  position: relative;
}

base_elem info .dataInfoPart p {
  flex: 1;
}

footer {
  width: auto;
  background: #154776;
  justify-content: center;
  align-items: center;
  padding: 0.25em 1em;
  border-top: 10px dashed #16426e;
  outline: 1px solid black;
  z-index: 200;
  box-shadow: 0 0 30px -15px black;
}

header h1 {
  font-size: 2em;
  font-weight: bold;
  font-family: monospace;
  padding: 1em;
  background: #154776;
  flex: 1;
  margin: 0;
}

@media screen and (min-width: 769px) {
  header {
      /* width: calc(100% - 2.5em); */
  }

  base_elem {
      /* max-width: calc(50% - 2em); */
  }
}

@media screen and (min-width: 1281px) {
  header {
      /* width: 100%; */
  }

  base_elem {
      /* max-width: calc(50% - 1.075em); */
  }
}

base_elem info h3.comp_id span {
  color: #b3dbf2;
  font-size: 9px;
}

input {
  color: #11273d;
  text-shadow: none;
  border: none;
  outline: none;
  padding: 0.5em 1em;
  border-radius: 1em;
}

.dataInfoPart button.reset {
  background: #ff00003b;
  border: none;
  box-shadow: none;
  margin: 0;
  padding: .5em;
  position: absolute;
  top: 0;
  left: 0;
}

actions > * {
  /* flex: 1; */
  display: flex;
  flex-direction: row;
  overflow: hidden;
  border-radius: 2em;
}
